{% extends 'base.html' %} {% block content %}
<div class="container mt-5" id="main-container">
<form id="add-form" method="POST" action="{% url 'ProjectCreate' %}">
  {% csrf_token %}
  <div class="form-group mb-2">
    <input type="text" class="form-control" id="" name="name" placeholder="Project Name" required>
  </div>
  <button type="submit" class="btn btn-primary mb-2">Add Project</button>
</form>
</form>
<div class="card">
  <div class="card-header"> <h3>Project List</h3> </div>
  <ul class="list-group list-group-flush">
    {% if not projects %}
        <li class="list-group-item">None</li>
    {% endif %}
    {% for project in projects %}
      <a class="btn btn-light" href="{% url 'ProjectDetail' project.id %}"><li class="list-group-item">{{ project.name }}</li></a>
    {% endfor %}
  </ul>
</div>
</div>
{% endblock %}
