{% extends 'base.html' %} {% block content %}
<div class="container mt-5" id=""">
  <form id="update-form" method="POST" action="{% url 'SubTaskUpdate' project_id task_id subtask.id %}">
    {% csrf_token %}
    <div class="form-group mb-3">
      <label class="mb-1">Subtask Name</label>
      <input type="text" class="form-control" name="name" value="{{ subtask.name }}" required placeholder="Enter name" />
    </div>
    <div class="form-group mb-3">
      <label class="mb-1">Subtask Description</label>
      <textarea class="form-control" name="description" maxlength="400" placeholder="Enter description" rows="3">{{ subtask.description }}</textarea>
    </div>
    <button type="submit" class="btn btn-primary mb-2">Update Project</button>
  </form>
</div>
{% endblock %}
