{% extends 'base.html' %} {% block content %}
<div class="container mt-5" id="">
  <form id="update-form" method="POST" action="{% url 'TaskUpdate' project_id task.id %}">
    {% csrf_token %}
    <div class="form-group mb-3">
      <label class="mb-1">Task Name</label>
      <input type="text" class="form-control" name="name" value="{{ task.name }}" required placeholder="Enter name" />
    </div>
    <div class="form-group mb-3">
      <label class="mb-1">Task Description</label>
      <textarea class="form-control" name="description" maxlength="400" placeholder="Enter description" rows="3">
{{ task.description }}</textarea
      >
    </div>
    <div class="form-group mb-3">
      <label class="mb-1">Start Date</label>
      <input
        type="text"
        class="form-control datepicker"
        id=""
        maxlength="10"
        name="start_date"
        value="{{ task.start_date }}"
        placeholder="Enter Date"
      />
    </div>
    <div class="form-group mb-3">
      <label class="mb-1">End Date</label>
      <input
        type="text"
        class="form-control datepicker"
        id=""
        maxlength="10"
        name="end_date"
        value="{{ task.end_date }}"
        placeholder="Enter Date"
      />
    </div>
    <div class="form-group mb-3">
      <label class="mb-1">Assign to</label>
      <select class="form-select" name="assigned_to">
        <option selected hidden></option>
        {% for user in users %}
        <option {% if user.id == task.assigned_to %} selected {% endif %} value="{{ user.id }}" name="assigned_to">{{ user.first_name }} {{ user.last_name }}</option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-primary mb-2">Update Task</button>
    <a href="{% url 'TaskDetail' project_id task.id %}" class="btn btn-secondary mb-2">Cancel</a>
  </form>
</div>
{% endblock %}
