{% extends 'base.html' %} {% block content %}
<div class="container mt-5" id="main-container">
<form id="add-form" method="POST" action="{% url 'TaskCreate' project_id %}">
  {% csrf_token %}
  <div class="form-group mb-2">
    <input type="text" class="form-control" id="" name="name" required placeholder="Task Name">
  </div>
  <button type="submit" class="btn btn-primary mb-2">Add Task</button>
</form>
</form>
<div class="card">
  <div class="card-header"> <h3>Task List</h3> </div>
  <ul class="list-group list-group-flush">
    {% if not tasks %}
      <li class="list-group-item">None</li>
    {% endif %}
    {% for task in tasks %}
        <a class="btn btn-light" href="{% url 'TaskDetail' project_id task.id %}"><li class="list-group-item">{{ task.name }}</li></a>
    {% endfor %}
  </ul>
</div>
</div>
{% endblock %}
