{% extends 'base.html' %} {% block content %}
<div class="container col mt-5">
  <h2>{{ task.name }}</h2>
  <hr />
  <div class="card card-body">
    <table class="table table-sm">
      <tr>
        <th>Description</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Assigned to</th>
        <th>View Subtasks</th>
        <th>Update</th>
        <th>Remove</th>
      </tr>
      <tbody>
        <tr>
          <td>{{ task.description }}</td>
          <td>{{ task.start_date }}</td>
          <td>{{ task.end_date }}</td>
          <td>{{ assigned_to.first_name }} {{ assigned_to.last_name }}</td>
          <td><a href="{% url 'SubTaskList' project_id task.id %}" class="btn btn-sm btn-outline-info">View</a></td>
          <td><a href="{% url 'TaskUpdate' project_id task.id %}" class="btn btn-sm btn-outline-warning">Update</a></td>
          <td
            ><button onclick="deleteTask({{ project_id }}, {{ task.id }})" class="btn btn-sm btn-outline-danger"
              >Remove</button
            ></td
          >
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
